/*reset code and common starts here*/

:root{
    --primary-color:green;
    --secondary-color:rgba(15, 83, 15, 0.901);
    padding: 0.5rem;
    transition: all 0.3s;
    border-radius: 0.6rem;
    box-shadow: 0.1rem 0.2rem 0.8rem rgba(205,202,202,0.5);
}
*{
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
img{
    width: 100%;
    height: auto;
}
.flex-center{/*Create*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn{
    border: none;
    padding: var(--padding);
    cursor: pointer;
    text-transform: uppercase;
    transition: var(--transition);
}
.btn:hover{
    background-color: var(--secondary-color);
}
/*reset code and common ends here*/
/*Navbar starts here*/
#menu-icon{
    display: none;
}
nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9rem;
    /*Navabr Sticky*/
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
.nav-upper{
    min-height: 10vh;
    background-color: var(--primary-color);
    padding: 1rem 0;
    
}
.nav_list{
    transition: var(--transition);
}
.nav_list:hover{
    text-decoration: overline;
    color: black;
}
.nav_link{
    color: white;
    transition: var(--transition);
}
.nav_link:hover{
    color: black;
}
.profile-icon{
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      border: white 1px solid;
      filter: saturate(1);/*Profile picture filtering*/
}
.profile-icon:hover{
    filter: saturate(0);
}
.nav-lower{
    min-height: 10vh;
    background-color: var(--secondary-color);
    font-weight: bolder;
}
.nav_brand{
    font-size: 2rem;
}
/*Navbar ends here*/
/*Header starts here*/
.header{/*Changes this and Create */
    padding: 4rem 0;
    height: 80vh;
    background: url(banner-image.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}
.banner{
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.banner_title{
    font-size: 4rem;
    color: aqua;
    padding: 1rem;
    border-radius: var(--border-radius);
}
.features{
    width: 100%;
}
.feature{
    flex-direction: column;
    background-color: rgb(37, 59, 223);
    color: rgb(252, 249, 249);
    border-radius: var(--border-radius);
    padding: 1rem;
    width: 15rem;
    gap: 1rem;
}
.feature_icon{
    font-size: 3rem;
}
/*Header ends here*/
/*Footer Starts here*/
.footer{
    padding: 1rem;
    background-color: var(--primary-color);
    min-height: 10vh;
    color:white;
    font-size: 1.1rem;
}
.btn-subscribe{
    margin-left: -5px;
}
.footer_input{
    border: none;
    padding: var(--padding);
    width: 20rem;
}
/*Footer Ends here*/
@media (max-width:992px) {
    .flex-space-around{
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;
    }
    #menu-icon{
        display: block;
        text-align: center;
        margin: 1rem 0;
        cursor: pointer;
    }
    .hidden{
        display: none;
    }
    .header{/*Changes this*/
        height: 100vh;
    }
}
@media (max-width:768px) {
    
}
@media (max-width:600px) {
    
}