/*reset code and common starts here*/

:root{
    --primary-color:green;
    --secondary-color:rgba(15, 83, 15, 0.901);
    padding: 0.5rem;
    transition: all 0.3s;
    border-radius: 0.6rem;
    box-shadow: 0.1rem 0.2rem 0.8rem rgba(205,202,202,0.5);
}
*{
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
img{
    width: 100%;
    height: auto;
}
.flex-center{/*Create*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn{
    border: none;
    padding: var(--padding);
    cursor: pointer;
    text-transform: uppercase;
    transition: var(--transition);
}
.btn:hover{
    background-color: var(--secondary-color);
}
.card{
   box-shadow:0.1rem 0.2rem 0.8rem rgba(205,202,202,0.5) ;
   border-radius:0.6rem;
   transition: all 0.3s;
   padding: 0.5rem;
}
.card:hover{/*Changes this*/
   box-shadow: 0.1rem 0.2rem 0.8rem gray
}
.hr-design{/*Changes this*/
    margin: 0.5rem 0;
}
.dot{/*Changes this*/
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: inline-block;
}
.red{/*Changes this*/
    background-color: red;
}
.green{/*Changes this*/
    background-color: green;
}
.black{/*Changes this*/
    background-color: black;
}
/*reset code and common ends here*/
/*Navbar starts here*/
#menu-icon{
    display: none;
}
nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9rem;
    /*Navabr Sticky*/
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
.nav-upper{
    min-height: 10vh;
    background-color: var(--primary-color);
    padding: 1rem 0;
    
}
.nav_list{
    transition: var(--transition);
}
.nav_list:hover{
    text-decoration: overline;
    color: black;
}
.nav_link{
    color: white;
    transition: var(--transition);
}
.nav_link:hover{
    color: black;
}
.profile-icon{
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      border: white 1px solid;
      filter: saturate(1);/*Profile picture filtering*/
}
.profile-icon:hover{
    filter: saturate(0);
}
.nav-lower{
    min-height: 10vh;
    background-color: var(--secondary-color);
    font-weight: bolder;
}
.nav_brand{
    font-size: 2rem;
}
/*Navbar ends here*/
/*Header starts here*/
.header{
    padding: 4rem 0;
    height: 80vh;
    background: url(banner-image.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}
.banner{
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.banner_title{
    font-size: 4rem;
    color: aqua;
    padding: 1rem;
    border-radius: var(--border-radius);
}
.features{
    width: 100%;
}
.feature{
    flex-direction: column;
    background-color: rgb(37, 59, 223);
    color: rgb(252, 249, 249);
    border-radius: var(--border-radius);
    padding: 1rem;
    width: 15rem;
    gap: 1rem;
}
.feature_icon{
    font-size: 3rem;
}
/*Header ends here*/
/*Main starts here*/
main{
    padding: 4rem 0;
    min-height: 80vh;
}
.sidebar{
  flex: 1;
  display: flex;
  padding: var(--padding);
 justify-content: center;
 flex-direction: column;
 gap: 1rem;
 align-self: flex-start;
}
.main-content{
 flex: 3;
 padding: var(--padding);
}
.actions_sort select{/*Changes this part to width height correction*/
    width: 15rem;
    height: 2rem;
   padding: var(--padding);
}
.actions_search input{/*Changes this part to  height correction*/
    padding: var(--padding);
    height: 2rem;
    width: 15rem;
}
.actions_search button{
    margin-left: -0.3rem;
    border: 1px solid;
    padding: 0.55rem;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    gap: 2rem;
    padding: 2rem 0;
}
.product{
 position: relative;
}
.badge{
    position: absolute;
    top: 0;
    left: 0;
    background-color: green;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 0.6rem;
    z-index: 10;
}
.product_img{
    width: 100%;
    height: 15rem;
    filter: saturate(1);
    transition: all 0.3s;
}
.product_img:hover{
    filter: saturate(0);
}
.product_body{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.learn-more{
    color: green;
}
/*Pagination Starts here*/
.pagination{/*Pagination Working for this Part*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination_btn{
    border-width: 1px 1px px 0; 
    border-style: solid;
    width: 20px;
}
.pagination_btn:first-child{
    border-width: 1px 1px 1px 1px; 
    border-style: solid;
    width: 20px;
}/*Pagination ends of Working for this Part*/
/*Pagination Ends here*/
/*Main ends here*/
/*Footer Starts here*/
.footer{
    padding: 1rem;
    background-color: var(--primary-color);
    min-height: 10vh;
    color:white;
    font-size: 1.1rem;
}
.btn-subscribe{
    margin-left: -5px;
}
.footer_input{
    border: none;
    padding: var(--padding);
    width: 20rem;
}
/*Footer Ends here*/
@media (max-width:992px) {
    .flex-space-around{
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;
    }
    #menu-icon{
        display: block;
        text-align: center;
        margin: 1rem 0;
        cursor: pointer;
    }
    .hidden{/*Changes this*/
        display: none;
    }
    .header{/*Changes this*/
        height: 100vh;
    }
    .products{/*Changes this*/
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}
@media (max-width:768px) {
    .flex-center{/*Changes this*/
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;
    }
   .products{
        grid-template-columns: repeat(1,minmax(0,1fr));
    } 
}
@media (max-width:600px) {
    
}