body{
    background-color: aquamarine;
    background-image: url('Uap-logo.jpg');/*path of image*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 400px 400px;
}