/*Specify Calculator */
/* a = number of id */
/* b = number of class ,Pseudo class,attribute */
/*c = number of element ,Pseudo element */
/*a=0,b=0,c=1 === 001*/
/* Its working with top to bottom approach */
h1{
    background-color: brown;
}
/*a=0,b=0,c=1 === 001*/
h1{
    background-color: green !important; /* !important has highest priority  as css color unless it's important otherwise not use*/
}
/* a=0,b=1,c=0 === 010*/
.title{
    background-color: gray;
}
/* a=0 ,b=1,c=1 === 011*/
h1.title{
    background-color: yellow;
}
#heading {
    background-color: orange; /* Only use id selector for highest priority */
}